@charset "ISO-8859-1";
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
body{
	background-image: url("../images/adminBack.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	color: white;
}
.title{
	font-family:serif;
	margin: 0px;
	margin-top: 20px;
}
.customer{
	
}
.receptionist{
	border-left: 2px solid silver;
}
.customer{
	border-left: 2px solid silver;
}
.text{
	font-family: serif;
}
a{
	margin-left: 80px;
	width: 300px;
}